/* Variables */

:root {
  --basic-black: #000000;
  --basic-dark: #283136;
  --basic-white: #ffffff;
  --basic-red: #fb565a;
  --basic-grey: #eeeeee;

  /* Buttons */

  --button-red-hover: #e74246;
  --button-red-clik: #d7373b;

  --button-green-regular: #00ca74;
  --button-green-hover: #00bc6c;
  --button-green-clik: #00aa62;

  --button-gold-regular: #efc84a;
  --button-gold-hover: #eab534;
  --button-gold-clik: #e5a722;

  --button-grey-hover: #dfdfdf;
  --button-grey-clik: #d5d5d5;
  --button-grey-active: rgba(0, 0, 0, 0.1);

  --button-shadow: 0px 3px rgba(0, 1, 1, 0.1);

  --button-social-regular: #e1e1e1;
}

/* Global */

body {
  min-width: 1160px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
}
header {
  background-color: var(--basic-grey);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
  margin: 0;
}

.main-header {
  background-color: var(--basic-grey);
}
.second-header {
  background-color: var(--basic-grey);
}

.promo h2 {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  color: var(--basic-black);
}
.promo p {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: normal;
  color: var(--basic-dark);
}

.about h2 {
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-black);
}
.about h3 {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}
.about p {
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-dark);
}
.about-features-list-item h2 {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
}
.about-features-list-item sup {
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
}
.main-navigation {
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-black);
  background-color: transparent;
  text-transform: uppercase;
}

.site-navigation {
  list-style: none;
}

.site-navigation a,
.cart-link a {
  color: var(--basic-black);
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
}

.site-navigation a:hover,
.site-navigation a:focus,
.cart-link a:hover,
.cart-link a:focus {
  background-color: var(--basic-extra-dark);
}
.catalog-list {
  list-style: none;
}
.catalog-list-item h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}
.catalog-list-item {
  background-color: var(--basic-grey);
}

/* Features */

.features-list {
  list-style: none;
}

.feature-item {
  text-align: center;
}

.feature-item h3 {
  font-size: 30px;
  line-height: 42px;
}
/* Index columns */
.index-columns {
  color: var(--basic-black);
  background-color: var("-----basic-black-light");
  background-image: url("--basic--neutral-light");
  background-position: center, 0 0;
  background-repeat: no-repeat, repeat;
}

.index-columns h2 {
  font-size: 30px;
  line-height: 42px;
}
/* Button */

.button {
  font: inherit;
  text-align: center;
  line-height: 18px;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-red);
  border: none;
  border-radius: 3px;
}
.button:hover,
.button:focus,
.button:active {
  background-color: var("--basic-red-light");
}

.button.disabled,
.button:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: var(--basic-black);
}

/* Contacts */

.contacts-phone {
  color: inherit;
}
/* Appointment */

.appointment-item input {
  font: inherit;
  background-color: transparent;
  border: 2px solid var(--basic--neutral-light);
}

.appointment-item input:focus {
  border-color: var(--special);
}
/* Appointment */

.appointment-item input {
  font: inherit;
  background-color: transparent;
  border: 2px solid var(--basic--neutral-light);
}

.appointment-item input:focus {
  border-color: var(--special);
}

.footer-contacts a,
p {
  color: var(--basic-grey);
  text-decoration: underline;
  font-size: 16px;
  line-height: 18px;
}
.footer-contacts h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-dark);
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}
.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.footer-social h2 {
  font-size: 14px;
}
.footer-discount h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-black);
}
.footer-discount p {
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-dark);
}
/* Social button */

.social-button {
  color: inherit;
}

.social-button:hover,
.social-button:focus {
  background-color: var(--basic-white);
}

/* Modal */

.modal {
  color: var(--basic-black);
  background-color: var(--basic-extra-light);
  background-image: url("../img/pattern-light.jpg");
  background-position: 0 0;
  background-repeat: repeat;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-login h2 {
  font-size: 30px;
  line-height: 42px;
}
.services h3 {
  text-transform: uppercase;
  color: var(--basic-black);
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}
.services p {
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: var(--basic-dark);
}
